extends layout

block content
  .modal.chat-message
    .modal-content
      .content-group
        .header 메세지가 지워집니다
        .text 진짜?
      .button-group
        .flex-empty
        .button.negative CANCEL
        .button.positive OK


  .content
    .chatting-field
      .chat-group
        .chat
          .empty
          .delete x
          .date 2018.06.18
          .text-group
            .name 나
            .text asdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf
      .chat-group.receive
        .chat
          .empty
          .date 123123
          .text-group
            .name WT?
            .text asdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf
          .profile
            .profile-image

    .message-send-group
      textarea.message
      .send-button S

  script(src='/firebase.js')
  script(src='/chatting.js')
