extends layout

block content
  .content
    .chatting-field
      .chat-group
        .chat
          .empty
          .delete x
          .date 2018.06.18
          .text-group
            .name 나
            .text asdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf
      .chat-group.receive
        .chat
          .empty
          .date 123123
          .text-group
            .name WT?
            .text asdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdfasdf asdfasdf asdfasdf asdfasdf asdfasdfasdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf asdfasdf
          .profile
            .profile-image

    .message-send-group
      textarea.message
      .send-button S

  script(src='/firebase.js')
  script(src='/chatting.js')
