doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js')
    script(src='/jquery/dist/jquery.min.js')


  body
    block content
