extends layout
block content
  .renderer
  script(src="/three/build/three.min.js")
  script(src="/three/examples/js/controls/OrbitControls.js")
  script(src="/three/examples/js/libs/stats.min.js")
  script(src="/three.example.js")