body {
  padding: 0;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  background: #333;
  height: 100vh; }

.content {
  width: 360px;
  height: 480px;
  background: #fff; }
  .content .chatting-field {
    height: 430px;
    overflow-y: scroll; }
    .content .chatting-field .chat-group {
      display: flex;
      flex-flow: column;
      padding: 12px; }
      .content .chatting-field .chat-group .name {
        width: 100%;
        font-size: 12px; }
      .content .chatting-field .chat-group .chat {
        display: flex; }
        .content .chatting-field .chat-group .chat .profile {
          padding-right: 8px; }
          .content .chatting-field .chat-group .chat .profile .profile-image {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: #333; }
        .content .chatting-field .chat-group .chat .delete {
          padding: 4px;
          align-self: flex-end; }
        .content .chatting-field .chat-group .chat .empty {
          flex: 1; }
        .content .chatting-field .chat-group .chat .text-group {
          width: auto;
          display: inline-block;
          border-radius: 5px;
          font-size: 12px;
          color: #fff; }
          .content .chatting-field .chat-group .chat .text-group .name {
            text-align: right;
            color: #333; }
          .content .chatting-field .chat-group .chat .text-group .text {
            display: inline-block;
            word-break: break-all;
            background: #555;
            padding: 8px; }
        .content .chatting-field .chat-group .chat .date {
          align-self: flex-end;
          font-size: 12px;
          color: #333;
          padding: 0 4px; }
      .content .chatting-field .chat-group.receive .delete {
        display: none; }
      .content .chatting-field .chat-group.receive .chat {
        flex-direction: row-reverse; }
        .content .chatting-field .chat-group.receive .chat .text-group .name {
          text-align: left; }
        .content .chatting-field .chat-group.receive .chat .text-group .text {
          background: #215fec; }
  .content .message-send-group {
    height: 50px;
    background: #eee;
    display: flex;
    overflow-y: scroll; }
    .content .message-send-group .message {
      width: calc(100% - 50px); }
    .content .message-send-group .send-button {
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 30px;
      color: #fff;
      background: #555;
      cursor: pointer; }
      .content .message-send-group .send-button:hover {
        background: #666; }

.modal {
  display: flex;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center; }
  .modal[status=open] {
    opacity: 1;
    pointer-events: all; }
  .modal .modal-content {
    width: 300px;
    background: #fff; }
    .modal .modal-content .content-group {
      padding: 8px;
      color: #555; }
      .modal .modal-content .content-group .header {
        padding: 8px;
        font-weight: 600;
        font-size: 24px; }
      .modal .modal-content .content-group .text {
        padding: 8px;
        font-size: 16px; }
    .modal .modal-content .button-group {
      padding: 8px;
      display: flex; }
      .modal .modal-content .button-group .button {
        cursor: pointer;
        font-weight: 600;
        padding: 8px;
        font-size: 16px;
        color: #215fec; }
        .modal .modal-content .button-group .button:hover {
          color: #3884fd; }

.flex-empty {
  flex: 1; }

/*# sourceMappingURL=style.css.map */